<div class="col-sm-6 col-md-4 mb-1">
  <div class="card">
    <div class="card-header">
      <%= model %>
    </div>
    <div class="card-body">
      <%= "#{count_term} #{total}" %> <br>
      <%= card_body %>
      <%= item_link %>
    </div>
  </div>
</div>
