<div class="row">
  <div class="col-md-6">
    <div class="bs-callout bs-callout-danger">
      <h3><%= t 'myaccount.callout.label_html' %></h3>
      <p><%= t 'myaccount.callout.message' %></p>
    </div>
  </div>
</div>
