<div class="modal fade" id="expiryModal" tabindex="-1" aria-labelledby="expiryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Session Expired</h5>
      </div>
      <div class="modal-body">
        <p>Your session has expired. Please <%= link_to('refresh your session', root_path) %> and try your request again. If the problems persist, please contact the libraries.</p>
      </div>
    </div>
  </div>
</div>
