<h1>Holds</h1>

<div class="load-holds" data-patron-key="<%= @patron_key %>">
  <p class="m-5 text-center">
    <span class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </span>
    <%= t('myaccount.loading_html') %>
  </p>
</div>
