<h1>Results of Hold Request for <%= patron.display_name %></h1>

<div class="load-requested-holds" data-patron-key="<%= patron.key %>">
  <p class="m-5 text-center"><span class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </span> Attempting to place holds, please wait...</p>
</div>
