<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card my-5 border-danger">
      <h3 class="card-header bg-danger text-white border-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> System Maintenance</h3>
      <div class="card-body">
        <p class="card-text">Due to required system maintenance, My Library Account will be in read-only mode until <%= Settings.maintenance_until %>. Renewals and Holds management will be unavailable. <a href="https://libraries.psu.edu/alerts">See library alerts</a> for updates and details.</p>
      </div>
    </div>
  </div>
</div>
