<header class="navbar navbar-expand-md navbar-dark bg-dark" role="banner">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to image_pack_tag('media/packs/images/logo.png', alt: 'Penn State University Libraries logo', class: 'img-fluid'), 'https://libraries.psu.edu' %>
      <%= link_to 'MyAccount', root_path, class: 'site-title' %>
    </div>
  </div>
</header>
